Flask_Migrate==2.7.0
WTForms==2.3.3
SQLAlchemy==1.4.7
Flask_SQLAlchemy==2.5.1
Werkzeug==1.0.1
Flask_WTF==0.14.3
Flask_Script==2.0.6
Flask_Login==0.5.0
alembic==1.5.8
Flask==1.1.2
flask_socketio
asyncio~=3.4.3
requests~=2.25.0
coverage~=5.5
flask_moment
email_validator
pytimeparse
forgery_py