.menu {
    display: none;
}

.menu__open {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-end;
    background: #563d7c;
    z-index: 5000;
}

.profile_menu {
    color: #829DFF;
}

.profile_menu:hover {
    text-decoration: none;
    background-color: rgb(155, 73, 73);
	transform: scale(1.1);
    transition: 0.85s ease;
}
