.menu__open {
    position: absolute;
    display: block !important;
    background: #FAFFFF;
    z-index: 500000;
}

.profile_menu {
    width: 100%;
    color: #829DFF;
}

.profile_menu:hover {
    text-decoration: none;
    background: silver;
    color: black;
    transition: 0.85s ease;
}
