.prophetical {
    position: absolute;
    width: 25%;
    height: 100%;
    display: block;
    right: 0;
    top: 0;
}

.dropdown {
    z-index: 1000;
    position: absolute;
    width: 5%;
    height: 20%;
    right: 0;
    top: 35%;
    background: #5855EC;
    animation-duration: 0.5s;
    animation-name: btnChatClose;
}

.dropdown_show {
    z-index: 0;
    position: absolute;
    right: 25%;
    animation-duration: 0.5s;
    animation-name: btnChatOpen;
}

.drop_content {
    display: none;
}

.show_drop_content {
    display: block;
    position: relative;
    max-width: 100%;
    min-height: 100%;
    background: #5855EC;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    word-wrap: break-word;
}

.online {
    font-size: 25px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 53px;
    color: #38B519;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.send__msg {
    position: absolute;
    width: 100%;
    resize: none;
    background:white;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 53px;
    text-align: center;
    bottom: 0;
}

.message {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
    word-wrap: break-word;
    overflow: auto;
    padding: 10px;
    max-height: 500px;
}

.message > nav {
    color: white;
}

.message > p {
    background: #7572E9;
    border: 1px solid #000000;
    box-sizing: border-box;
    letter-spacing: 1px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10%;
}

.message::-webkit-scrollbar { width: 6px; height: 3px; }
.message::-webkit-scrollbar-button { background-color: #666; }
.message::-webkit-scrollbar-track { background-color: #999; }
.message::-webkit-scrollbar-track-piece { background-color: #ffffff; }
.message::-webkit-scrollbar-thumb { height: 50px; background-color: #666; }
.message::-webkit-scrollbar-corner { background-color: #999; }
.message::-webkit-resizer { background-color: #666; }

.angle-left {
    transform: rotate(180deg);
}

@keyframes btnChatOpen {
    from {
        right: 0;
    }
    to {
        right: 25%;
    }
}

@keyframes btnChatClose {
    from {
        right: 25%;
    }
    to {
        right: 0;
    }
}