{% macro pagination_widget_pages(pagination, endpoint) %}
    <ul class='pagination'>
        <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
            <a class="page-link" href="{% if pagination.has_prev %}
                        {{ url_for(endpoint, page=pagination.page - 1, **kwargs) }}
                    {% else %}
                        #
                    {% endif %}">
                &laquo;
            </a>
        </li>
    </ul>
    <ul class='pagination'>
        {% for p in pagination.iter_pages() %}
            {% if p %}
                {% if p == pagination.page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="disabled">
                    <a href="#">&hellip;</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul class='pagination'></ul>
        <li {% if not pagination.has_next %}class="disabled"{% endif %}>
            <a class="page-link" href="{% if pagination.has_next %}
                        {{ url_for(endpoint, page=pagination.page + 1, **kwargs) }}
                    {% else %}
                        #
                    {% endif %}">
                &raquo;
            </a>
        </li>
    </ul>
{% endmacro %}

{% macro render_articles(articles) %}
    {% for el in articles %}
        <div class="alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <h3>Автор статьи: <a href="{{ url_for('.user_profile', id=el.user_id) }}">{{ el.author_name }}</a></h3>
            <p><b>Дата публикации: {{ moment(el.date).format('LLL') }} ({{ moment(el.date).fromNow(refresh=True) }})</b></p>
            <p>Количество просмотров: {{ el.count_views }}</p>
            <a href="/post/{{ el.id }}/detail" class='btn btn-warning'>Детальнее</a>
            {% if current_user.is_authenticated and validate_art_or_com_of_the_owner(el.user_id) %}
                <a href="/posts/{{ el.id }}/update" class='btn btn-success'>Обновить</a>
                <a href="/posts/{{ el.id }}/delete" class='btn btn-danger'>Удалить</a>
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}