{% extends 'base.html' %}

{% block title %}
Админка
{% endblock %}

{% block after_bootstrap %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_nav.css') }}">
{% endblock %}

{% block body %}
	<section class="admin_nav">
		<a href="/admin-panel/1" class='admin_nav_menu'>adding new admin & delete user account</a>
		<a href="/admin-panel/1" class='admin_nav_menu'>adding new admin & delete user account</a>
		<a href="/admin-panel/1" class='admin_nav_menu'>adding new admin & delete user account</a>
	</section>
{% endblock %}