{% extends 'base.html' %}

{% import "_macros.html" as macros %}

{% block title %}
Админ-панель
{% endblock %}

{% block body %}
	<style>
		body {
			min-width: 690px;
		}

		.table_price {
			width: 100%;
			border: 5px solid black;
			font-family: "Lucida Grande", sans-serif;
		}

		.table_price td{
			padding: 10px;
		}

		.table_price tr:nth-child(2n) {
		  background: #56ADE7;
		}

		.table_price td:last-of-type {
		  text-align: center;
		}

		.table_price a:hover {
			text-decoration: none;
			background-color: silver;
			transform: scale(1.1);
		}

		.information_from_user {
			display: flex;
			text-align: center;
			justify-content: space-between;
			flex-direction: row;
		}

		.container__admin {
			width: 50%;
			margin: 0 auto;
		}

        .pagination {
            width: 300px;
            height: 75px;
        }
	</style>
	<form action="" method="post">
		<div class="container__admin">	
			{{ form.csrf_token }}
			<div class='information_from_user'>
				<p>
					<p>
						{{ form.username() }}
					</p>
					{% if form.username.errors %}
						{% for error in form.username.errors %}
							{{ error }}
						{% endfor %}
				    {% endif %}
				</p>
				<p>
					<p>
						{{ form.email() }}
					</p>
					{% if form.email.errors %}
						{% for error in form.email.errors %}
							{{ error }}
						{% endfor %}
					{% endif %}
				</p>
				<p>
					{{ form.submit() }}
				</p>
			</div>
		</div>
	</form>
    <h2>Всего найдено: {{ pagination.total }}</h2>
	{% if users %}
		<div class='container__table' style="overflow-x:auto;">
				<table class="table_price">
					<tr>
						<td>№</td>
						<td>Имя</td>
						<td>Почта</td>
						<td>Дата регистрации</td>
						<td>Забанен/Не забанен</td>
						<td>Роль</td>
                        <td>Место положение</td>
                        <td>Редактировать профиль</td>
					</tr>
					{% for user in users %}
						<tr>
							<td>{{ loop.index + pagination.page * max_users - max_users }}</td>
							<td><a style="color: brown;" href="{{ url_for('.user_profile', id=user.id) }}">{{ user.username }}</a></td>
							<td>{{ user.email }}</td>
							<td>{{ moment(user.created_on).format('LLL') }} ({{ moment(user.created_on).fromNow(refresh=True) }})</td>

							{% if not user.is_banned %}
								<td>Не забанен</td>
							{% else %}
								<td>Забанен</td>
							{% endif %}

							{% if not user.can(Permission.MODERATE_COMMENTS_AND_ARTICLES) %}
                                <td><a>Обычный юзер</a></td>
							{% else %}
                                {% if user.is_administrator() %}
                                    <td><a>Администратор</a></td>
								{% else %}
								  	<td><a>Модератор</a></td>
								{% endif %}
							{% endif %}

                            {% if user.real_location %}
                                <td>Страна: {{ user.real_location['Country'] }} <br>
                                    Город: {{ user.real_location['City'] }} <br>
                                    Регион: {{ user.real_location['Region'] }} <br>
                                    IP: {{ user.real_location['IP'] }} <br>
                                    Координаты: {{ user.real_location['Loc'] }}
                                </td>
                            {% else %}
                                <td>Не указано</td>
                            {% endif %}
							<td><a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Редактировать профиль</a></td>
						</tr>
					{% endfor %}
				</table>
		</div>
	{% else %}
		<h1 style="text-align: center;">Ничего не было найдено по вашему запросу.</h1>
	{% endif %}
	<br>
    <div class="pagination">
        {{ macros.pagination_widget_pages(pagination, '.admin_panel', username=username, email=email) }}
    </div>
{% endblock %}