{% extends 'base.html' %}

{% block title %}
Редактирование профиля
{% endblock %}

{% block after_bootstrap %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
{% endblock %}

{% block body %}
<div class="container">
        <form method="post" enctype=multipart/form-data>
            {{ form.csrf_token }}
            <div class="alert alert-info">
                <p>
                    {% if current_user.get_src_to_avatar() %}
                        <p class="fig"><img src="{{ url_for('static', filename=current_user.get_src_to_avatar()) }}" alt="" class="round"></p>
                    {% else %}
                        <p class="fig"><img src="{{ url_for('static', filename='img/test1.png') }}" alt="" class="round"></p>
                    {% endif %}
                </p>
                <p class="image"> {% if not current_user.get_src_to_avatar() %} Выберите фото {% endif %}
                    <p>
                        {{ form.image() }}
                        <br>
                        {% if form.image.errors %}
                            {% for error in form.image.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </p>
                </p>
                <p class="username">Имя
                    <p>
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {{ form.username() }}
                    </p>
                </p>
                <p class="email">Почта
                    <p>
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {{ form.email() }}
                    </p>
                </p>
                <p class="city">Место нахождения
                    <p>
                        {% if form.city.errors %}
                            {% for error in form.city.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {{ form.city() }}
                    </p>
                </p>
                <p class="about_me">О себе
                    <p>
                        {% if form.about_me.errors %}
                            {% for error in form.about_me.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {{ form.about_me() }}
                    </p>
                </p>
                <p>
                    <p>
                        {{ form.submit() }}
                    </p>
                </p>
            </div>
        </form>
	<br>
</div>
{% endblock %}