{% extends 'base.html' %}

{% block title %}
Редактор
{% endblock %}

{% block body %}
<style>
	.alert {
		width: 90%;
        margin: 100px auto 0;
        word-wrap: break-word;
    }
	.alert > p {
		font-size: 30px;
		text-align: center;
	}
    #email, #username, #city, #about_me {
        min-width: 100%;
    }
    .round {
        border-radius: 300px; /* Радиус скругления */
        border: 3px solid green; /* Параметры рамки */
        box-shadow: 0 0 7px #666; /* Параметры тени */
        width: 300px;
        height: 300px;
    }
    .fig {
        text-align: center;
    }
</style>
<div class="container">
        <form method="post">
            {{ form.csrf_token }}
            <div class="alert alert-info">
                {% if user.get_src_to_avatar() %}
                    <p class="fig"><img src="{{ url_for('static', filename=user.get_src_to_avatar()) }}" alt="" class="round"></p>
                {% else %}
                    <p class="fig"><img src="{{ url_for('static', filename='img/test1.png') }}" alt="" class="round"></p>
                {% endif %}
                <p class="username">Имя
                    <p>
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {{ form.username() }}
                    </p>
                </p>
                <p class="email">Почта
                    <p>
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {{ form.email() }}
                    </p>
                </p>
                <p class="city">Место нахождения
                    <p>
                        {% if form.location.errors %}
                            {% for error in form.location.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {{ form.location() }}
                    </p>
                </p>
                <p class="role">Роль
                    <p>
                        {% if form.role.errors %}
                            {% for error in form.role.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {{ form.role() }}
                    </p>
                </p>
                <p class="about_me">О себе
                    <p>
                        {% if form.about_me.errors %}
                            {% for error in form.about_me.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {{ form.about_me() }}
                    </p>
                </p>
                <p>
                    <p>
                        {{ form.submit() }}
                        <a class="btn btn-danger" href="{{ url_for('.delete_user', id=user.id) }}">Удалить аккаунт</a>
                        <a class="btn btn-danger" href="{{ url_for('.ban_user', id=user.id) }}">Забанить</a>
                        {% if user.is_banned %}
                            <a class="btn btn-danger" href="{{ url_for('.unban_user', id=user.id) }}">Разбанить</a>
                        {% endif %}
                    </p>
                </p>
            </div>
        </form>
	<br>
</div>
{% endblock %}