{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block body %}
<style>
	.container {
		width: 85%;
	}
	.alert {
		width: 90%;
        margin: 100px auto 0;
    }
	.alert > p {
		font-size: 30px;
		text-align: center;
	}
    .round {
        border-radius: 300px; /* Радиус скругления */
        border: 3px solid green; /* Параметры рамки */
        box-shadow: 0 0 7px #666; /* Параметры тени */
        width: 300px;
        height: 300px;
    }
    .fig {
        text-align: center;
    }
</style>
<div class="container">
    <div class="alert alert-info">
        {% if user.get_src_to_avatar() %}
            <p class="fig"><img src="{{ url_for('static', filename=user.get_src_to_avatar()) }}" alt="" class="round"></p>
        {% endif %}
        <h1 style="text-align: center;">{{ user.username }}</h1>
        <p>
            Почта: {{ user.email }}
        </p>
        <p>
            Количество статей: {{ user.posts.count() }}
        </p>
        {% if user.is_administrator() %}
            <p>Admin</p>
        {% elif user.can(Permission.MODERATE_COMMENTS_AND_ARTICLES) %}
            <p>Moderator</p>
        {% endif %}
        <p>
            Место нахождения:
            {% if user.location %}
                {{ user.location }}
            {% else %}
                Не указано
            {% endif %}
        </p>
        <details style="text-align: center;">
            {% if user.about_me %}
                {{ user.about_me }}
            {% else %}
                Не указано
            {% endif %}
        </details>
    </div>
	<br>
</div>
{% endblock %}