{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<style>
	.comment {
		background-color: white;
	}
</style>
<div class="container mt-5">
	<h1>{{ article.title }}</h1>
	<div class="alert alert-info">
		<p>{{ article.text }}</p>
		<p><b>Дата публикации: {{ article.date.strftime('%Y-%m-%d %H:%M:%S') }}</b></p>
		{% if current_user.id == article.user_id or current_user.is_admin %}
			<a href="/posts/{{ article.id }}/delete" class="btn btn-danger">Удалить</a>
			<a href="/posts/{{ article.id }}/update" class="btn btn-success">Редактировать</a>
		{% endif %}
	</div>
	{% if current_user.is_authenticated %}
		<div class="alert alert-info">
			<form method="post">
				<textarea name="text" id = 'text' class = 'form-control' placeholder="Написать коментарий" required="TEXT"></textarea><br>
				<button class="btn btn-success">Отправить</button><br>
			</form>
		</div>
	{% endif %}
	{% if comments %}
		<h4>Количество всех коментариев: {{ article.comments.count() }}</h4>
		<div class="alert alert-info">
			{% for comment in comments %}
				<p><img src="{{ url_for('static', filename='img/test1.png') }}" alt="noname_user" class="header__user__img">    {{ comment.author }}                                                  		{{ comment.date.strftime("%d/%m/%Y, %H:%M") }}</p>
				<div class='comment'>
					<p>{{ comment.text }}</p><br>
				</div><br>
			{% endfor %}
		</div>
	{% endif %}
	{% if count_comments < article.comments.count() %}
		<a href="/post/{{ post_id }}/detail?count={{ count_comments + const_count }}" class='btn btn-success'>Загрузить еще</a>
		<br>
		<br>
	{% endif %}
</div>
{% endblock %}