{% extends 'base.html' %}

{% from "_macros.html" import render_articles with context %}

{% import '_macros.html' as macros %}

{% block title %}
Все статьи
{% endblock %}

{% block body %}
<style>
	.div-center {
		width: 50%;
	}
	{% if method_sorting == 'views' %}
		.views {
			color: red;
		}
	{% else %}
		.date {
			color: red;
		}
	{% endif %}
</style>
<div class="container mt-5">
	{% if articles|length > 0 %}
		<h1>Все статьи на сайте</h1>
		<div class="alert div-center">
			<a href="{{ url_for('.posts', page=1, views=True) }}" class='views'>Сортировка по количеству просмотров</a>
			</br>
			<a href="{{ url_for('.posts', page=1, date=True) }}" class='date'>Cортировка по дате</a>
		</div>
		</br>
        {{ render_articles(articles) }}
        <div class="pagination">
            {% if method_sorting == 'views' %}
                {{ macros.pagination_widget_pages(pagination, '.posts', views=True) }}
            {% else %}
                {{ macros.pagination_widget_pages(pagination, '.posts', date=True) }}
            {% endif %}
        </div>
	{% else %}
		<h1>У нас еще нет статей на сайте.</h1>
	{% endif %}
</div>
{% endblock %}
