{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block body %}
<style>
	.container {
		width: 85%;
	}
	.alert {
		width: 90%;
        margin: 100px auto 0;
    }
	.alert > p {
		font-size: 30px;
		text-align: center;
	}
</style>
<div class="container">
    <div class="alert alert-info">
        <p>
            Имя: {{ current_user.username }}
        </p>
        <p>
            Почта: {{ current_user.email }}
        </p>
        <p>
            Количество ваших статей: {{ current_user.posts.count() }}
        </p>
    </div>
	<br>
</div>
{% endblock %}