{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block body %}
<style>
	.container {
		width: 85%;
	}
	.alert {
		width: 90%;
        margin: 100px auto 0;
    }
	.alert > p {
		font-size: 30px;
		text-align: center;
	}
    .round {
        border: 3px solid green; /* Параметры рамки */
        box-shadow: 0 0 7px #666; /* Параметры тени */
        max-width: 300px;
        max-height: 300px;
        min-width: 100px;
        min-height: 100px;
    }
    .fig {
        text-align: center;
    }
</style>
<div class="container">
    <div class="alert alert-info">
        {% if current_user.is_administrator() %}
            <a href="{{ url_for('.edit_profile_admin', id=user.id) }}" class="btn btn-success">Редактировать профиль</a>
        {% endif %}
        {% if user.get_src_to_avatar() %}
            <p class="fig"><img src="{{ url_for('static', filename=user.get_src_to_avatar()) }}" alt="" class="round"></p>
        {% else %}
            <p class="fig"><img src="{{ url_for('static', filename='img/test1.png') }}" alt="" class="round"></p>
        {% endif %}
        <h1 style="text-align: center;">{{ user.username }}</h1>
        <p>
            Почта: {% if user.is_administrator() or user.can(Permission.MODERATE_COMMENTS_AND_ARTICLES) %}
                        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                   {% else %}
                        {{ user.email }}
                   {% endif %}
        </p>
        <p>
            Количество статей: {{ user.posts.count() }}
        </p>
        {% if user.is_administrator() %}
            <p>Admin</p>
        {% elif user.can(Permission.MODERATE_COMMENTS_AND_ARTICLES) %}
            <p>Moderator</p>
        {% endif %}
        <p>
            Место нахождения:
            {% if user.location == 'None' %}
                Не указано
            {% else %}
                {{ user.location }}
            {% endif %}
        </p>
        <p>
            Последняя активность:
            {{ moment(user.last_seen).fromNow(refresh=True) }}
        </p>
        <details style="text-align: center;">
            {% if user.about_me == 'None' %}
                Не указано
            {% else %}
                {{ user.about_me }}
            {% endif %}
        </details>
    </div>
	<br>
</div>
{% endblock %}