{% extends 'base.html' %}

{% from "_macros.html" import render_articles with context %}

{% import '_macros.html' as macros %}

{% block title %}
Мои статьи
{% endblock %}

{% block body %}
<style>
	h1 {
		text-align: center;
	}
</style>
<div class="container">
    {% if articles|length > 0 %}
	    {{ render_articles(articles) }}
	{% else %}
		<h1>У вас еще нет статей на сайте.</h1>
	{% endif %}
    <div class="pagination">
        {{ macros.pagination_widget_pages(pagination, '.user_posts') }}
    </div>
</div>
{% endblock %}